{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="card text-center">
      <div class="card-header text-primary">
        <h1>Contact Tracing Application</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success">What Is Contact Tracing?</h5>
                <p class="card-text">
                  Contact tracing is the process of identifying, assessing, and managing
                  people who have been exposed to a disease to prevent onward transmission.
                  When systematically applied, contact tracing will break the chains of transmission
                  of infectious virus and is an essential public health tool for controlling the virus.
                  Contact tracing requires identifying people who may have been exposed to virus and following
                  them up daily for 14-28 days from the last point of exposure.
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title  text-success">Why Is Contact Tracing  Important?</h5>
                  <p class="card-text">
                    <ul class="list-group">
                      <li class="list-group-item">To ensure there is limited spread of an infection</li>
                      <li class="list-group-item">To find and isolate cases before they erupt </li>
                      <li class="list-group-item">To help in identifying the contacts of the patient tested positive for an infection</li>
                      <li class="list-group-item">To prevent individual cases from being clusters which in the long run turn into community transmission
                      </li>
                    </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
